:root{
    --major-colour: rgb(26, 111, 176);
    --minor-colour: rgb(119, 185, 235);
    --button-colour: rgb(194, 204, 211);
    --font-type: Verdana, Geneva, Tahoma, sans-serif;
    --font-size: 12px;
    --border-size: 5px;
    --border-rad: 7px;
    --x-grad: 0px;
    --y-grad: 0px;
}
body {
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: 100px;
}
.main-container {
    justify-content: center;
    font-family: var(--font-type);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 90%;
    background: radial-gradient(circle at var(--x-grad) var(--y-grad), var(--major-colour) 25%, var(--minor-colour) 100%);
}

.quote-container{
    height: 100px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: "center";
}

.quote-area{
    color: rgb(255, 255, 255);
    margin: 0%;
    grid-area: "b";
    text-align: center;
    justify-self: center;
}

.button-container{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    grid-area: "center";
}

#quote-button{
    grid-area: "e";
    height: 40px;
    width: 90px;
    background-color: var(--button-colour);
    border-radius: var(--border-rad);
}