:root{
    --major-colour: rgb(41, 139, 213);
    --minor-colour: rgb(53, 196, 49);
    --button-colour: rgb(224, 224, 224);
    --border-colour: rgb(169, 169, 169);
    --font-type: Verdana, Geneva, Tahoma, sans-serif;
    --font-size: 12px;
    --border-size: 5px;
    --border-rad: 8px;
    --x-grad: 10px;
    --y-grad: 0px;
}
body {
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: 100px;
}
.main-container {
    justify-content: center;
    font-family: var(--font-type);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 90%;
    border-radius: var(--border-rad);
    background: radial-gradient(circle at var(--x-grad) var(--y-grad), var(--major-colour) 30%, var(--minor-colour) 100%);
}

.quote-container{
    height: 200px;
    width: 90%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.quote-class{
    color: rgb(255, 255, 255);
    align-items: center;
}
#quote-area{
    align-self: center;
    text-align: center;
    width: 80%;
}

#author-area{
    align-self: flex-end;
    margin-top: 5%;
    margin-right: 5%;
}

.button-container{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    grid-area: "center";
}

button{
    height: 25px;
    width: 20%;
    margin-bottom: 2%;
    background-color: var(--button-colour);
    border-color: var(--border-colour);
} 
#quote-button{
    border-radius: 0 var(--border-rad) var(--border-rad) 0;
}
#copy-button{
    border-radius: var(--border-rad) 0 0 var(--border-rad);
}