:root{
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
    --font-size-big: 22px;
    --font-size-small: 15px;
    --major-colour: rgb(205, 205, 205);
    --minor-colour: rgb(223, 240, 239);
    --accent-colout: rgb(12, 11, 12);
    --x-grad: 50%;
    --y-grad: 13%;
}
body{
    display: flex;
    justify-content: center;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    font-family: var(--font-family);
    text-align: center;
    background: conic-gradient(at var(--x-grad) var(--y-grad), var(--major-colour) 0deg 120deg, var(--minor-colour) 160deg 200deg, var(--major-colour) 250deg 360deg);
    background-color: var(--major-colour);
    width: 90%;
    height: 1000px;
}

h1{
    font-size: var(--font-size-big);
}

h4{
    font-size: var(--font-size-small);
}

.frame-container{
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
}